<div class="row top">
  <div class="mid2">
    <h2>Nice to meet ya!</h2>
    <h3>Team Details</h3>
  </div>
  <div class="left-contact">
    <ul>
      <li>Sahasra Ranjan</li>
      <li>sahasra@cse.iitb.ac.in</li>
      <li>190050102</li>
    </ul>
  </div>

  <div class="right-contact">
    <ul>
      <li>Sibasis Nayak</li>
      <li>190050115@iitb.ac.in</li>
      <li>190050115</li>
    </ul>
  </div>
</div>

<!-- <li>Name: Sahasra Ranjan</li>
<li>Email: sahasra@cse.iitb.ac.in</li>
<li>Roll no.: 190050102</li> -->