@mixin another {
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.design {
    @include another;
    background-color: green;
}

.top {
    margin-top: 50px;
    margin-bottom: 50px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.left-contact {
    float: left;
    margin-left: 30%;
    width: 20%;
}

.right-contact {
    float: left;
    width: 40%;
}

.mid2 {
    float: left;
    margin-left: 42%;
    width: 40%;
}