<h2>Form</h2>

<div>
  <ul>
    Feedback
    <li>Name: {{feedback.name}}</li>
    <li>Email Id: {{feedback.email}}</li>
    <li>Feedback: {{feedback.feedback}}</li>
    <li>Comment: {{feedback.comment}}</li>
  </ul>
  <button (click)="getFeedback()">Get feedback</button>
</div>


<div>
  <form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
  <label>Name: <input type="text" formControlName="name_form"></label>
  <label>Email Id: <input type="text" formControlName="email_form"></label>
  <p>
    <label>Feedback: 
      <input type="radio" value="Okay" formControlName="feedback_form"> Okay
      <input type="radio" value="Great" formControlName="feedback_form"> Great
      <input type="radio" value="Not good" formControlName="feedback_form"> Not good
    </label>
  </p>

  <label>Comment: <textarea type="text" formControlName="comment_form"></textarea></label>
  </form>

  <button (click)="onSubmit()" type="submit" >Submit</button>

  <p>
    Name: {{ feedbackForm.get('name_form').value }}<br>
    Email Id: {{ feedbackForm.get('email_form').value }}<br>
    Feedback: {{ feedbackForm.get('feedback_form').value }}<br>
    Comment: {{ feedbackForm.get('comment_form').value }}
    {{ errorMessage }}
  </p>
</div>
