.mat-radio-button~.mat-radio-button {
    margin-left: 16px;
}

.top {
    margin-top: 50px;
    margin-bottom: 50px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.left {
    float: left;
    margin-left: 10%;
    width: 40%;
}

.right {
    float: right;
    width: 40%;
}

.mid {
    float: left;
    margin-left: 30%;
    width: 40%;
}

.button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-left: 15%;
}

textarea {
    width: 250px;
    height: 50px;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.message {
    margin-top: 20%;
    margin-bottom: 20%;
}

.success-msg,
.error-msg {
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px 3px 3px 3px;
}

.success-msg {
    color: #270;
    background-color: #DFF2BF;
}

.error-msg {
    color: #D8000C;
    background-color: #FFBABA;
}

body {
    width: 640px;
}